
{% load i18n %}
{% load static %}

<!doctype html>
<html lang="en">
   <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>VES Vendor  - Login </title>

      <link rel="shortcut icon" href="{% static 'vendor_assets/images/favicon.ico' %}" />

      <link rel="stylesheet" href="{% static 'vendor_assets/css/bootstrap.min.css' %}">

      <link rel="stylesheet" href="{% static 'vendor_assets/css/typography.css' %}">

      <link rel="stylesheet" href="{% static 'vendor_assets/css/style.css' %}">

      <link rel="stylesheet" href="{% static 'vendor_assets/css/responsive.css' %}">
   </head>
   <body>

      <div id="loading">
         <div id="loading-center">
         </div>
      </div>

        <section class="sign-in-page">
          <div class="container">
            <div class="row justify-content-center align-items-center height-self-center">
               <div class="col-lg-5 col-md-12 align-self-center form-padding">
                  <div class="sign-user_card ">
                     <div class="sign-in-page-data">
                        <div class="sign-in-from w-100 m-auto">
                           <h3 class="mb-3 text-center">Sign in</h3>

							<form action="{% url 'account_login' %}" class="mt-4"  id="login" method="POST">
								{% csrf_token %}
                              <div class="form-group">
								 <input name="login" type="email" class="form-control mb-0" id="id_login" placeholder="Enter email" autocomplete="off" required>
                              </div>

                              {% if form.login.errors %}
								{% for error in form.login.errors %}
								<div class="form-text">

									<p style="color: red !important; font-size:90%;">{{ error|escape }}</p>
								</div>
								{% endfor %}
							{% endif %}

                        <div class="form-group">
								 <input name="password" type="password" class="form-control mb-0" id="id_password" placeholder="&middot;&middot;&middot;&middot;&middot;&middot;" required>
                        </div>

                              {% if form.password.errors %}
							  {% for error in form.password.errors %}
							  <div class="form-text">
								  <p style="color: red !important; font-size:90%;"> {{ error|escape }}</p>

							  </div>
							  {% endfor %}
							  {% endif %}


							  {% if redirect_field_value %}
							  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
							  {% endif %}
                                 <div class="sign-info">
                                    <button type="submit" class="btn btn-primary">Sign in</button>
                                    <div class="custom-control custom-checkbox d-inline-block">
                                       <input type="checkbox" class="custom-control-input" id="customCheck">
                                       <label class="custom-control-label" for="customCheck">Remember Me</label>
                                    </div>
                                 </div>


                                 <div>
                                    {% if form.errors %}

                                      {% for error in form.non_field_errors %}
                                      <div class="nk-kycfm-note">
                                        <em class="icon ni ni-info-fill" data-toggle="tooltip" data-placement="right" title="{{ error|escape }}"></em>
                                        <p style="color: red !important;">{{ error|escape }}</p>
                                    </div>
                                      {% endfor %}
                                    {% endif %}
                                </div>
                           </form>
                        </div>
                     </div>
                     <div class="mt-3">
                        <div class="d-flex justify-content-center links">
                           Don't have a vendor account? <a href="{{ signup_url }}" class="text-primary ml-2">Sign Up</a>
                        </div>
                        <div class="d-flex justify-content-center links">
                           <a href="{% url 'account_reset_password' %}" class="f-link">Forgot your password?</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

         </div>
      </section>



      <script src="{% static 'vendor_assets/js/jquery.min.js' %}"></script>
      <script src="{% static 'vendor_assets/js/popper.min.js' %}"></script>
      <script src="{% static 'vendor_assets/js/bootstrap.min.js' %}"></script>

      <script src="{% static 'vendor_assets/js/jquery.appear.js' %}"></script>

      <script src="{% static 'vendor_assets/js/countdown.min.js' %}"></script>

      <script src="{% static 'vendor_assets/js/waypoints.min.js' %}"></script>
      <script src="{% static 'vendor_assets/js/jquery.counterup.min.js' %}"></script>

      <script src="{% static 'vendor_assets/js/wow.min.js' %}"></script>

      <script src="{% static 'vendor_assets/js/slick.min.js' %}"></script>

      <script src="{% static 'vendor_assets/js/owl.carousel.min.js' %}"></script>

      <script src="{% static 'vendor_assets/js/jquery.magnific-popup.min.js' %}"></script>

      <script src="{% static 'vendor_assets/js/smooth-scrollbar.js' %}"></script>

      <script src="{% static 'vendor_assets/js/chart-custom.js' %}"></script>

      <script src="{% static 'vendor_assets/js/custom.js' %}"></script>

   </body>
</html>
