{% extends 'core/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}


<div class="container-fluid pb-0">
    <div class="top-mobile-search">
       <div class="row">
          <div class="col-md-12">
             <form class="mobile-search">
                <div class="input-group">
                  <input type="text" placeholder="Search for..." class="form-control">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-dark"><i class="fas fa-search"></i></button>
                    </div>
                </div>
             </form>
          </div>
       </div>
    </div>
    <div class="top-category section-padding mb-4">
       <div class="row">
          <div class="col-md-12">
             <div class="main-title">
                <div class="btn-group float-right right-action">
                   <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                   </a>
                   <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Date Created</a>


                   </div>
                </div>
                <h6>Popular Channels</h6>
             </div>
          </div>
          <div class="col-md-12">
             <div class="owl-carousel owl-carousel-category">
                {% if channels %}
                {% for channel in channels %}
                <div class="item">
                   <div class="category-item">
                      <a href="{% url 'core:channel_details' channel.id %}">
                        {% if channel.thumbnail %}
                         <img class="img-fluid" src="{{channel.thumbnail.url}}" alt="{{channel.display_name}}">
                         {% else %}
                         <img class="img-fluid" src="{% static 'img/s1.png' %}" alt="{{channel.display_name}}">
                         {% endif %}
                         <h6>{{channel.display_name}}</h6>
                         <p>{{channel.total_views}} views</p>
                      </a>
                   </div>
                </div>
                {% endfor %}
                <p>Fetching channels ...</p>
                {% endif %}







             </div>
          </div>
       </div>
    </div>
    <hr>
    <div class="video-block section-padding">
       <div class="row">
          <div class="col-md-12">
             <div class="main-title">
                <div class="btn-group float-right right-action">
                   <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Sort by <i class="fa fa-caret-down" aria-hidden="true"></i>
                   </a>
                   <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp; Views</a>
                      <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Likes</a>
                   </div>
                </div>
                <h6>Featured Videos</h6>
             </div>
          </div>
          {% if contents %}
          {% for vid in contents %}
          <div class="col-xl-3 col-sm-6 mb-3">
             <div class="video-card">
                <div class="video-card-image">
                   <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                   <a href="#"><img class="img-fluid" src="{% if vid.img_poster %}{{vid.img_poster.url}}{% else %}img/v1.png{% endif %}" alt=""></a>
                   <div class="time">{{vid.timedelta}}</div>
                </div>
                <div class="video-card-body">
                   <div class="video-title">
                      <a href="{% url 'core:content_detail' vid.slug %}">{{vid.title}}</a>
                   </div>
                   <div class="video-page text-success">
                      {{vid.genre}}  <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                   </div>
                   <div class="video-view">
                      {{vid.watch_times}} views &nbsp;<i class="fas fa-calendar-alt"></i> {{vid.created_at|naturalday}}
                   </div>
                </div>
             </div>
          </div>
          {% endfor %}
          {% endif %}






       </div>
       <nav aria-label="Page navigation example">
        {% if contents.paginator.num_pages > 1 %}
        <ul class="pagination justify-content-center pagination-sm mb-0">
            {% if contents.has_previous %}
           <li class="page-item disabled">
              <a class="page-link" href="?page={{ contents.previous_page_number }}" tabindex="-1">Previous</a>
           </li>
           {% endif %}

           {% for i in contents.paginator.page_range %}
                {% if contents.number == i %}

                    <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
                {% endif %}
            {% endfor %}

            {% if contents.has_next %}
           <li class="page-item">
              <a class="page-link" href="?page={{ contents.next_page_number }}">Next</a>
           </li>
           {% endif %}
        </ul>
        {% endif %}

     </nav>
    </div>
    <hr class="mt-0">
    <div class="video-block section-padding">
       <div class="row">
          <div class="col-md-12">
             <div class="main-title">

                <h6>THIS WEEK'S FAVOURITE</h6>
             </div>
          </div>
          {% if favorite_channel %}
          {% for fav in favorite_channel %}
          <div class="col-xl-3 col-sm-6 mb-3">
             <div class="channels-card">
                <div class="channels-card-image">
                   <a href="#"><img class="img-fluid" src="{{fav.thumbnail}}" alt=""></a>
                   <div class="channels-card-image-btn"><button type="button" class="btn btn-outline-danger btn-sm">Watch Now </button></div>
                </div>
                <div class="channels-card-body">
                   <div class="channels-title">
                      <a href="#">{{fav.display_name}}</a>
                   </div>
                   <div class="channels-view">
                      {{fav.total_views}} views
                   </div>
                </div>
             </div>
          </div>
          {% endfor %}
          {% endif %}

       </div>
    </div>
 </div>
 <!-- /.container-fluid -->
{% endblock content %}