{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'style.css' %}">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700%7CMontserrat:300,400,600,700">
		
		<link rel="stylesheet" href="{% static 'icons/fontawesome/css/fontawesome-all.min.css' %}"><!-- FontAwesome Icons -->
		<link rel="stylesheet" href="{% static 'icons/Iconsmind__Ultimate_Pack/Line%20icons/styles.min.css' %}"><!-- iconsmind.com Icons -->
		
		<title>VES TV - Onboarding</title>
	</head>
	<body>
		
		
		

		<div id="content-pro">
			
            <div class="container">
                 <div class="centered-headings-pro pricing-plans-headings">
                     <h6>Select your telecoms service provider </h6>
                     <h1>Subscribe to instantly watch TV shows &amp; Movies</h1>
                 </div>
         </div>
         
		
         
         <div id="pricing-plans-background-image">
             <div class="container">
                     <div class="registration-steps-page-container">
                         
                          <div class="registration-billing-form">
                              <div class="row">
                                  <div  class="col-md">
                                      <div style="text-align: center !important;" id="mtn_card" class="jumbotron jumbotron-fluid jumbotron-pro">
                                        <div class="container">
                                            <h6 class="light-weight-heading">Please check your phone for a prompt to complete subscribtion. Click button below to proceed after </h6> <br>
                                            <a style="float: none !important;" href="/" class="btn btn-green-pro"> Continue to watch </a>
                                        </div>
                                        
                                      </div>
                     
                                  </div>
                                 
                                 
                              </div>
                             
                             
                        
                             
                          </div>
                         
                     </div>
                 
             </div>
         </div>
         
     </div>
		
     <footer id="footer-pro">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <div class="copyright-text-pro">&copy; <script>document.write(new Date().getFullYear())</script> Zamari TV. All Rights Reserved</div>
                </div><!-- close .col -->
                <div class="col-md">
                    <ul class="social-icons-pro">
                        <li class="facebook-color"><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="twitter-color"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li class="youtube-color"><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>

                    </ul>
                </div><!-- close .col -->
            </div><!-- close .row -->
        </div><!-- close .container -->
    </footer>
		
		<a href="#0" id="pro-scroll-top"><i class="fas fa-chevron-up"></i></a>
		
		
		

        <script src="{% static 'js/libs/jquery-3.3.1.min.js' %}"></script><!-- jQuery -->
		<script src="{% static 'js/libs/popper.min.js' %}" defer></script><!-- Bootstrap Popper/Extras JS -->
		<script src="{% static 'js/libs/bootstrap.min.js' %}" defer></script><!-- Bootstrap Main JS -->
		<!-- All JavaScript in Footer -->
		
		<!-- Additional Plugins and JavaScript -->
		<script src="{% static 'js/navigation.js' %}" defer></script><!-- Header Navigation JS -->
		<script src="{% static 'js/jquery.flexslider-min.js' %}" defer></script><!-- Custom Document Ready JS -->		
		<script src="{% static 'js/script.js' %}" defer></script><!-- Custom Document Ready JS -->


		
	</body>
</html>